[submodule "scripts/calN50"]
	path = scripts/calN50
	url = https://github.com/lh3/calN50.git
[submodule "scripts/svpack"]
	path = scripts/svpack
	url = https://github.com/PacificBiosciences/svpack.git
[submodule "scripts/pb-CpG-tools"]
	path = scripts/pb-CpG-tools
	url = https://github.com/PacificBiosciences/pb-CpG-tools.git
